[
    {
        "type": "line",
        "name": "PropertyName",
        "endpoint": "https://notify-api.line.me/api/notify",
        "token": "XXXXXXXXXXXXXXXXXX"
    },
    {
        "type": "discord",
        "name": "PropertyName",
        "endpoint": "https://discordapp.com/api/webhooks/XXXXXXX/YYYYYY"
    }
]