.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 4px;
    border-color: #000000 #00000010 #00000010;
    position: relative;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.table-wrap {
    overflow-x: scroll;
}
.table {
    border-collapse: collapse;
    white-space: nowrap;
}

.table th, .table td {
    border: 2px solid #eee;
    padding: 4px 8px;
}
