[Unit]
Description=HTTP Status Check Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/workspace/user_util/bash/http/listen_status.sh
WorkingDirectory=/home/ubuntu/workspace/user_util/bash/http
KillMode=process
Restart=no
User=ubuntu
Group=ubuntu


[Install]
WantedBy=multi-user.target
