[Unit]
Description=HTTP HTML Frontend Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/workspace/user_util/bash/http_index_html.sh
WorkingDirectory=/home/ubuntu/workspace/user_util/bash
KillMode=process
Restart=no
User=ubuntu
Group=ubuntu


[Install]
WantedBy=multi-user.target
